node_modules
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
reports
*.log
coverage
.nyc_output
test-results.xml
package-contents
package-contents.zip

.DS_Store
node_modules
/dist
/reports
package-contents*

/tests/e2e/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
test-report.xml
eslint-report.xml
